form{
    -moz-user-select: none;
    margin:auto;
    /*background: gray;*/
    background: url("../img/fon1.png");
    width: 50%;
}

.brd{
    border: solid 1px black;
}
#btnSubmit{
    display: block;
}
input[type='submit']{
    border: none;
    background: aqua;
    border-radius: 5px;

}
input[type='submit']:hover{
    background: blue;
}
.etCustom{
    outline: none;
    border: solid 2px blue;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
}
label{
    /*border: none;*/
}
@media screen and (min-width:980px) /*desktop*/ {
    form{
        /*background: red;*/
    }
}
@media screen and (max-width: 979px) /*tablet*/ {
    form{
        /*background: blue;*/
    }
}
@media screen and (max-width: 500px) /*mobile*/{
    form{
        /*background: green;*/
    }
}

